.menu {
  margin-left: auto;
}

.list {
  display: flex;
}

.item {
  margin-right: 5rem;
}

.link {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--white);
}

.link:hover,
.link:focus {
  color: var(--grey);
}